@model CognitiveSearch.UI.Configuration.AppConfig
@{
ViewData["Title"] = "Upload your data";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/dropzone/dist/js/dropzone.min.js"></script>
<script type="text/javascript" src="~/lib/dropzone/dist/js/dropzone-amd-module.min.js"></script>
<link rel="stylesheet" href="~/lib/dropzone/dist/css/basic.min.css" />
<link rel="stylesheet" href="~/lib/dropzone/dist/css/dropzone.min.css" />
<link rel="stylesheet" href="~/css/dropzone.css" asp-append-version="true" />
<script type="text/javascript" src="~/js/constants.js"></script>
<style></style>
<main role="main">
   <fluent-card class="uploadcard">
      <img class="img-upload" src="/../../images/Arrow-Upload.svg" alt="arrow upload" />
      <h1 style="text-align: center;">Upload your audio or json files for analysis</h1><br>
      <div class="card-body">
      <h3 style="text-align: center; font-weight: 400;line-height: 1.5;">
         You can use the area below to upload files into your Azure Storage account. Once uploaded, the files
         will be indexed by Azure Search, and within a few minutes will be available for searching using this
         tool.
      </h3>
      <div class="card mb-2 mt-5 mr-5 ml-5" style="border:none">
         <div id="upload-message" class="alert alert-success mb-2 mt-2 mr-5 ml-5" style="display:none;">
            <img src='~/images/Success.svg' alt='successIcon' class="icons successIcon" />
            <img src='~/images/Error.svg' alt='failIcon' class="icons failIcon" />
            <div class='message'></div>
         </div>
      </div>
      <div id="upload-dropzone" class="justify-content-center" style="text-align: center;">
         <!-- <div class="loader"></div> -->
         <div class="dragdropContainer" style="margin-top: 2%;">
         <div>
            <div style="
               display: inline-flex;
               ">
               <img class="img-mini-upload" src="/images/mini-upload.png" alt="min arrow upload">
            </div>
            <div style="
               display: inline-block;
               ">
               <h3 style="font-weight: 400; text-indent: 5px; display:block">
                  Drag and drop files here or <span>
                  <a href="#" onclick="document.getElementById('upload-dropzone').click();
                     return false;" class="justify-content-center" id="click-Browser"> click to browse</a>
                  </span>
               </h3>
            </div>
         </div>
         <h5 style="color:#8A8886 !important; font-weight: 400; color:dimgrey;font-family: Segoe UI, sans-serif !important;">
         Select up to 10 files, max file size 50 MB
         </h5>
         </div>
      </div>
      <!-- @* upload and Cancel button *@ -->
      @if (!String.IsNullOrEmpty(Model.UploadDisclaimer))
      {
      <div style="text-align: center; font-size: 11pt; color: #918F8D;">@Model.UploadDisclaimer</div>
      }
      <br />
      <!-- @* test *@ -->
      <div style="direction: rtl;" class="btnContainer">
         <a id="btnUpload" class="fluent-button button disableUpload">Upload</a>
         <a id="btnCancel" class="fluent-button button cancelBtn">Cancel</a>
      </div>
   </fluent-card>
</main>
<script type="text/javascript">
   $(document).ready(function () {
    var flag = 0;
       var totalFilesize = 0;
       var fileCount = 0;
       var btnUpload = $('#btnUpload');
       var btnCancel = $('#btnCancel');
       var btnContainer = $('.btnContainer');
       var $message = $('#upload-message');
       $('.dz-progress').attr('style', 'display:none !important;');
       if (customizable === 'False') {
           window.location.replace("/Admin/NotAvailable");
       }
   
       btnContainer.addClass('hide').removeClass('showBtn'); 
   
       Dropzone.autoDiscover = false;
       var myDropZone = new Dropzone('#upload-dropzone', {
           url: '/upload',
           method: 'POST',
           parallelUploads: 10,
           maxFilesize: 50, // MB
           uploadMultiple: true,
           addRemoveLinks: true,
           maxFiles: numberOfFiles,
           autoProcessQueue: false,
           removedfile: function (file) {
               this.getQueuedFiles(file)
               $('.dz-progress').attr('style', 'display: none !important;');
               //remove any file then automatically remove class 
               for(var i = 0; i <= this.files.length; i++) {
                   $('.dz-preview').eq(i).removeClass('dz-error dz-complete')
               }
               if (this.files.length <= numberOfFiles) {
                   btnUpload.removeClass('disableUpload').addClass('enableUpload');
                   btnContainer.addClass('showBtn').removeClass('hide'); 
                   $message.addClass('alert-success').removeClass('alert-danger');
                   $message.addClass('hide').removeClass('showBannerMsg');
                   CalculateTotalFileSize(myDropZone.files)
                   CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');
   
               } else {
                   btnUpload.addClass('disableUpload').removeClass('enableUpload');
                   btnContainer.addClass('showBtn').removeClass('hide'); 
                   $message.removeClass('alert-success').addClass('alert-danger');
                   $message.find('.message').text(ErrMaxNumberfiles);
                   $message.removeClass('hide').addClass('showBannerMsg');
                   CalculateTotalFileSize(myDropZone.files)
                   CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');
   
               }
               var _ref;
               return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
           },
           sending: function (file, xhr, formData) {
                $message.addClass('hide').removeClass('showBannerMsg');
           },
           success: function (file, response) {
               file.previewElement.classList.add('dz-success');
               btnContainer.removeClass('showBtn').addClass('hide'); 
               $('.successIcon').addClass('show').removeClass('hide'); 
               $('.failIcon').addClass('hide').removeClass('show'); 
               $message.removeClass('alert-danger'); 
               $message.removeClass('hide').addClass('showBannerMsg');
               Dropzone.forElement('#upload-dropzone').removeAllFiles(true);
               btnContainer.addClass('hide').removeClass('showBtn'); 
               $message.find('.message').text(SuccessMsg);
           },
           error: function (file, response) {
               file.previewElement.classList.add('dz-error');
               $('.failIcon').addClass('show').removeClass('hide');
               $('.successIcon').addClass('hide').removeClass('show');
              
              btnUpload.addClass('disableUpload').removeClass('enableUpload');
              btnContainer.addClass('showBtn').removeClass('hide'); 
           },
       });
   
      $('#upload-dropzone').addClass('dropzone');
      
      $('#btnUpload').on('click', function () {
       
            btnContainer.addClass('hide').removeClass('showBtn'); 
            $('.dz-progress').attr('style', 'display: inline-block !important;');
            if (myDropZone.files.length <= numberOfFiles) {
                myDropZone.processQueue();
                    setTimeout(() => {
                        for (var i = 0; i <= myDropZone.files.length; i++) {
                            $('.dz-preview').eq(i).find('.dz-progress').find('span').attr('style', 'width:100%');
                            $('.dz-preview').eq(i).addClass('dz-processing dz-success dz-complete');
                        }
                        $message.removeClass('alert-danger'); //
                        $message.removeClass('hide').addClass('showBannerMsg');
                        $('.successIcon').addClass('show').removeClass('hide'); //
                        $('.failIcon').addClass('hide').removeClass('show'); //
                            $message.find('.message').text(SuccessMsg); //
                    }, 500);
                    $('.dz-remove').attr('style', 'display:none !important');
                
           }
       });

       myDropZone.on("addedfile", function (file) {
           $('.dz-progress').attr('style', 'display:none !important;');
            if (myDropZone.files.length <= 10) {
                btnUpload.addClass('enableUpload').removeClass('disableUpload');
                $('.dz-remove').attr('style', 'display:block !important');
               $message.addClass('hide').removeClass('showBannerMsg')
               btnContainer.addClass('showBtn').removeClass('hide'); 
               for (var i = 0; i < numberOfFiles; i++) {
                   $('#upload-dropzone').find('.dz-preview').eq(i).find('a').css({ "color": "green !important" })
               }
           } else {
               btnUpload.addClass('disableUpload').removeClass('enableUpload');
               $message.find('.message').text(ErrMaxNumberfiles);
               $message.removeClass('alert-success');
               $message.addClass('alert-danger');
                $message.removeClass('hide').addClass('showBannerMsg')
           }
           CalculateTotalFileSize(myDropZone.files)
           CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');
       });

       myDropZone.on("drop", function (event) {
           btnUpload.addClass('enableUpload').removeClass('disableUpload');
           var count = myDropZone.getAcceptedFiles().length;
           $message.addClass('hide').removeClass('showBannerMsg')
           $('.dz-progress').attr('style', 'display:none !important;');
           btnContainer.addClass('showBtn').removeClass('hide'); 
       });

       $('#btnCancel').on('click', function () {
           fileCount = 0;
           Dropzone.forElement('#upload-dropzone').removeAllFiles(true);
           $message.addClass('hide').removeClass('showBannerMsg');
           btnContainer.removeClass('showBtn').addClass('hide'); 
       });
   
       function CalculateFiles(file, Count, CallFrom) {
           if (totalFilesize > maxfileSize && Count > numberOfFiles) {
               btnUpload.addClass('disableUpload').removeClass('enableUpload');
               $('.failIcon').addClass('show').removeClass('hide');
               $('.successIcon').addClass('hide').removeClass('show');
               $message.removeClass('alert-success');
               $message.addClass('alert-danger');
               $message.removeClass('hide').addClass('showBannerMsg');
               $('#click-Browser').removeClass('enableLink').addClass('disableLink');
               $message.find('.message').text(ErrMaxFileSizeAndNumber);
   
           }
           else if (totalFilesize > maxfileSize && Count <= numberOfFiles) {
               btnUpload.addClass('disableUpload').removeClass('enableUpload');
               $('.failIcon').addClass('show').removeClass('hide');
               $('.successIcon').addClass('hide').removeClass('show');
              
               $message.removeClass('alert-success');
               $message.addClass('alert-danger');
               $message.removeClass('hide').addClass('showBannerMsg');
               $('#click-Browser').removeClass('enableLink').addClass('disableLink')
               $message.find('.message').text(ErrMaxFileSize);
   
           }
           else if (Count > numberOfFiles && totalFilesize <= maxfileSize) {
               btnUpload.addClass('disableUpload').removeClass('enableUpload');
               $('.failIcon').addClass('show').removeClass('hide');
               $('.successIcon').addClass('hide').removeClass('show');
               $message.removeClass('alert-success');
               $message.addClass('alert-danger');
               $message.removeClass('hide').addClass('showBannerMsg');
               $('#click-Browser').removeClass('enableLink').addClass('disableLink')
               $message.find('.message').text(ErrMaxNumberfiles);
           }
           else {
               btnUpload.removeClass('disableUpload').addClass('enableUpload');
               btnCancel.attr('style', 'display:inline-block !important');
               $message.addClass('alert-success').removeClass('alert-danger');
               $message.removeClass('showBannerMsg').addClass('hide');
               $('#click-Browser').addClass('enableLink').removeClass('disableLink');
           }
       }
   
       function CalculateTotalFileSize(files) {
           totalFilesize = 0;
           for (let i = 0; i < files.length; i++) {
               totalFilesize += files[i].size;
              }
       }
   });
</script>