@model CognitiveSearch.UI.Configuration.AppConfig
@{
    ViewData["Title"] = "Upload your data";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/dropzone/dist/js/dropzone.min.js"></script>
<script type="text/javascript" src="~/lib/dropzone/dist/js/dropzone-amd-module.min.js"></script>
<link rel="stylesheet" href="~/lib/dropzone/dist/css/basic.min.css" />
<link rel="stylesheet" href="~/lib/dropzone/dist/css/dropzone.min.css" />
<link rel="stylesheet" href="~/css/dropzone.css" asp-append-version="true" />
<script type="text/javascript" src="~/js/constants.js"></script>
<style></style>
<main role="main">
    <fluent-card class="uploadcard">
        <img class="img-upload" src="/../../images/Arrow-Upload.svg" alt="arrow upload" />
        <h1 style="text-align: center;">Upload your audio or json files for analysis</h1><br>
        <div class="card-body">
            <h3 style="text-align: center; font-weight: 400;line-height: 1.5;">
                You can use the area below to upload files into your Azure Storage account. Once uploaded, the files
                will be indexed by Azure Search, and within a few minutes will be available for searching using this
                tool.
            </h3>
            <div class="card mb-2 mt-5 mr-5 ml-5" style="border:none">
                <div id="upload-message" class="alert alert-success mb-2 mt-2 mr-5 ml-5" style="display:none;">
                    <img src='~/images/Success.svg' alt='successIcon' class="icons successIcon" />
                    <img src='~/images/Error.svg' alt='failIcon' class="icons failIcon" />
                    <div class='message'></div>
                </div>
            </div>
            <div id="upload-dropzone" class="justify-content-center" style="text-align: center;">
                <!-- <div class="loader"></div> -->
                <div class="dragdropContainer" style="margin-top: 2%;">
                    <div>
                        <div style="
               display: inline-flex;
               ">
                            <img class="img-mini-upload" src="/images/mini-upload.png" alt="min arrow upload">
                        </div>
                        <div style="
               display: inline-block;
               ">
                            <h3 style="font-weight: 400; text-indent: 5px; display:block">
                                Drag and drop files here or <span>
                                    <a href="#" onclick="document.getElementById('upload-dropzone').click();
                     return false;" class="justify-content-center" id="click-Browser"> click to browse</a>
                                </span>
                            </h3>
                        </div>
                    </div>
                    <h5 style="color:#8A8886 !important; font-weight: 400; color:dimgrey;font-family: Segoe UI, sans-serif !important;">
                        Select up to 10 files, max file size 50 MB
                    </h5>
                </div>
            </div>
            <!-- @* upload and Cancel button *@ -->
            @if (!String.IsNullOrEmpty(Model.UploadDisclaimer))
            {
                <div style="text-align: center; font-size: 11pt; color: #918F8D;">@Model.UploadDisclaimer</div>
            }
            <br />
            <!-- @* test *@ -->
            <div style="direction: rtl;" class="btnContainer">
                <a id="btnUpload" class="fluent-button button disableUpload">Upload</a>
                <a id="btnCancel" class="fluent-button button cancelBtn">Cancel</a>
            </div>
    </fluent-card>
</main>
<script type="text/javascript">
    $(document).ready(function () {
        var totalFilesize = 0;
        var fileCount = 0;
        var IsSuccess = false;
        var IsError = false;
        var ServerResponse = "";
        var btnUpload = $('#btnUpload');
        var btnCancel = $('#btnCancel');
        var btnContainer = $('.btnContainer');
        var $message = $('#upload-message');

        $('.dz-progress').attr('style', 'display:none !important;');
        if (customizable === 'False') {
            window.location.replace("/Admin/NotAvailable");
        }

        btnContainer.addClass('hide').removeClass('showBtn');

        Dropzone.autoDiscover = false;
        var myDropZone = new Dropzone('#upload-dropzone', {
            url: '/upload',
            method: 'POST',
            parallelUploads: 10,
            maxFilesize: 50, // MB
            uploadMultiple: true,
            addRemoveLinks: true,
            maxFiles: numberOfFiles,
            autoProcessQueue: false,
            removedfile: function (file) {
                $('.dz-progress').attr('style', 'display: none !important;');

                for (var i = 0; i <= this.files.length; i++) {
                    $('.dz-preview').eq(i).removeClass('dz-error dz-complete')
                }
                if (this.files.length <= numberOfFiles) {
                    btnUpload.removeClass('disableUpload').addClass('enableUpload');
                    CalculateTotalFileSize(myDropZone.files)
                    CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');

                } else {
                    CalculateTotalFileSize(myDropZone.files)
                    CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');
                }

                //all file removed from dropzone then button are not visible
                if (this.files.length == 0) {
                    if (IsSuccess == true) {
                        $message.removeClass('hide').addClass('showBannerMsg');
                        IsSuccess = false;
                    }
                    else {
                        btnContainer.addClass('hide').removeClass('showBtn');
                        $message.addClass('hide').removeClass('showBannerMsg');
                    }
                }

                // Reset the error status to queued post removal of the files
                if (myDropZone.files.length <= numberOfFiles) {
                    // Check if any files have the status "error"
                    var errorFiles = myDropZone.getFilesWithStatus(Dropzone.ERROR);

                    // If there are error files, reset their status to "queued"
                    if (errorFiles.length > 0) {
                        errorFiles.forEach(function (errorFile) {
                            errorFile.status = Dropzone.QUEUED;
                        });
                    }
                }

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            },
            sending: function (file, xhr, formData) {
                $message.addClass('hide').removeClass('showBannerMsg');
            },
            success: function (file, response) {
                IsSuccess = true;
                file.previewElement.classList.add('dz-success');
                btnContainer.removeClass('showBtn').addClass('hide');

                setTimeout(() => {
                    for (var i = 0; i <= myDropZone.files.length; i++) {
                        $('.dz-preview').eq(i).find('.dz-progress').find('span').attr('style', 'width:100%');
                        $('.dz-preview').eq(i).addClass('dz-processing dz-success dz-complete');
                    }
                }, 2000);
                $('.dz-remove').attr('style', 'display:none !important');
                ShowSuccessMsg(SuccessMsg);

                setTimeout(function () {
                    Dropzone.forElement('#upload-dropzone').removeAllFiles(true);
                }, 2000);
            },
            error: function (file, response) {
                file.previewElement.classList.add('dz-error');
                btnUpload.addClass('disableUpload').removeClass('enableUpload');

                $message.removeClass('hide').addClass('showBannerMsg');
                ServerResponse = response;
                if (!IsError) {
                    if (response == "You can not upload any more files.") {
                        ShowErrorMsg(ErrMaxNumberfiles);
                    }
                    else if (response.includes('File is too big')) {
                        ShowErrorMsg(ErrMaxFileSize);
                    }
                    else {
                        $('#click-Browser').removeClass('enableLink').addClass('disableLink');
                        ShowErrorMsg(GenricMsg);
                    }
                }
            },
        });

        $('#upload-dropzone').addClass('dropzone');

        $('#btnUpload').on('click', function () {

            btnContainer.addClass('hide').removeClass('showBtn');
            $('.dz-progress').attr('style', 'display: inline-block !important;');
            if (myDropZone.files.length <= numberOfFiles) {
                myDropZone.processQueue();
            }
        });

        myDropZone.on("addedfile", function (file) {
            $message.addClass('hide').removeClass('showBannerMsg')
            $('.dz-progress').attr('style', 'display:none !important;');
            if (myDropZone.files.length <= 10) {
                btnUpload.addClass('enableUpload').removeClass('disableUpload');
                $('.dz-remove').attr('style', 'display:block !important');
                btnContainer.addClass('showBtn').removeClass('hide');
            } else {
                btnUpload.addClass('disableUpload').removeClass('enableUpload');
                ShowErrorMsg(ErrMaxNumberfiles);
            }
            CalculateTotalFileSize(myDropZone.files)
            CalculateFiles(myDropZone.files, myDropZone.files.length, 'addfile');
        });

        myDropZone.on("drop", function (event) {
            btnUpload.addClass('enableUpload').removeClass('disableUpload');
            var count = myDropZone.getAcceptedFiles().length;
            $message.addClass('hide').removeClass('showBannerMsg')
            $('.dz-progress').attr('style', 'display:none !important;');
            btnContainer.addClass('showBtn').removeClass('hide');
        });

        $('#btnCancel').on('click', function () {
            fileCount = 0;
            Dropzone.forElement('#upload-dropzone').removeAllFiles(true);
            $message.addClass('hide').removeClass('showBannerMsg');
            btnContainer.removeClass('showBtn').addClass('hide');
            $('#click-Browser').addClass('enableLink').removeClass('disableLink');
        });

        // Function to calculate the files count
        function CalculateFiles(file, Count, CallFrom) {
            if (totalFilesize > maxfileSize && Count > numberOfFiles) {
                IsError = true;
                btnUpload.addClass('disableUpload').removeClass('enableUpload');
                $('#click-Browser').removeClass('enableLink').addClass('disableLink');
                ShowErrorMsg(ErrMaxFileSizeAndNumber);
            }
            else if (totalFilesize > maxfileSize && Count <= numberOfFiles) {
                IsError = true;
                btnUpload.addClass('disableUpload').removeClass('enableUpload');
                $('#click-Browser').removeClass('enableLink').addClass('disableLink')
                ShowErrorMsg(ErrMaxFileSize);

            }
            else if (Count > numberOfFiles && totalFilesize <= maxfileSize) {
                IsError = true;
                btnUpload.addClass('disableUpload').removeClass('enableUpload');
                $('#click-Browser').removeClass('enableLink').addClass('disableLink')
                ShowErrorMsg(ErrMaxNumberfiles);
            }

            else if (ServerResponse == '') {
                btnUpload.removeClass('disableUpload').addClass('enableUpload');
                btnCancel.attr('style', 'display:inline-block !important');
                $message.addClass('alert-success').removeClass('alert-danger');
                $message.removeClass('showBannerMsg').addClass('hide');
                $('#click-Browser').addClass('enableLink').removeClass('disableLink');
            }
            else {
                btnCancel.attr('style', 'display:inline-block !important');
                $message.addClass('alert-success').removeClass('alert-danger');
                $message.removeClass('showBannerMsg').addClass('hide');
                $('#click-Browser').addClass('enableLink').removeClass('disableLink');
                IsError = false;
            }
        }

        // Function to check the total size of the files
        function CalculateTotalFileSize(files) {
            totalFilesize = 0;
            for (let i = 0; i < files.length; i++) {
                totalFilesize += files[i].size;
            }
        }

        // Success message function
        function ShowSuccessMsg(SuccessMsg) {
            $('.successIcon').addClass('show').removeClass('hide');
            $('.failIcon').addClass('hide').removeClass('show');
            $message.removeClass('hide').addClass('showBannerMsg');
            $message.removeClass('alert-danger').addClass('alert-success');
            $message.find('.message').text(SuccessMsg);
        }

        // Error message function
        function ShowErrorMsg(ErrorMsg) {
            $('.failIcon').addClass('show').removeClass('hide');
            $('.successIcon').addClass('hide').removeClass('show');
            $message.addClass('alert-danger').removeClass('alert-success');
            $message.removeClass('hide').addClass('showBannerMsg');
            btnUpload.addClass('disableUpload').removeClass('enableUpload');
            btnContainer.addClass('showBtn').removeClass('hide');
            $message.find('.message').text(ErrorMsg);
        }

        // Hide message function
        function HideMsg() {
            $message.removeClass('showBannerMsg').addClass('hide');
        }
    });
</script>