################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.env
*.venv
*.vscode
*.vs
/GBB.ConversationalKM/.vs/
/LUISSchemaSerializationTool/.vs
/LUISSchemaSerializationTool/LUISSchemaSerializationTool/bin
/LUISSchemaSerializationTool/LUISSchemaSerializationTool/obj
/SearchUI/.vs/GBB.ConversationalKM.SearchUI
/SearchUI/CognitiveSearch.UI/bin/Debug/netcoreapp2.0
/SearchUI/CognitiveSearch.UI/obj
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/bin
/GBB.ConversationalKM.WebUI/.vs
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/obj
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/appsettings.Development.json
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/wwwroot/lib/bootstrap
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/wwwroot/lib/jquery
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/wwwroot/lib/jquery-validate
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/wwwroot/lib/jquery-validation-unobtrusive
/GBB.ConversationalKM.WebUI/CognitiveSearch.UI/wwwroot/lib/moment
/GBB.ConversationalKM.Python/.venv
.fake