:root {
  --msg-block-font: 0.875rem;
  --answer-disclaimer-font: 0.75rem;
  --create-conv-btn-min-width: 2rem;
  --send-button-font-size: 1.5rem;
  --btn-create-conv-svg: 2rem;
  --text-area-font: 0.875rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #ffffff 57.29%, #eef6fe 100%);
  overflow-y: auto;
  /* border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; */
}

.textarea-field {
  width: 100%;
  border: 0px solid #dcdcdc;
  border-radius: 4px;
  padding: 8px;
  resize: vertical; /* Allow resizing only vertically */
}
.textarea-field textarea,
.textarea-field textarea::placeholder {
  font-size: var(--text-area-font);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  position: relative;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user-message {
  flex: 0 0 auto;
  max-width: 70%;
  align-self: flex-end;
  margin-left: auto;
  background-color: #ebefff;
  color: #242424;
  font-family: var(--Font-family-Base, "Segoe UI");
  font-size: var(--msg-block-font, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-300, 20px);
  border-radius: 8px;
  padding: 8px 16px;
  align-self: flex-end;
  box-shadow: 0 2px 10px rgba(147, 184, 219, 0.1);
}

.assistant-message {
  flex: 0 0 auto;
  max-width: 70%;
  align-self: flex-start;
  font-family: var(--Font-family-Base, "Segoe UI");
  font-size: var(--msg-block-font, 14px);
  font-style: normal;
  font-weight: 400;
  padding: 8px 16px;
  color: #242424;
  line-height: var(--Line-height-300, 20px); /* 142.857% */
  align-self: flex-start;
  background-color: #ffffff;
  word-wrap: break-word;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.answerDisclaimerContainer {
  margin-top: 10px;
}

.answerDisclaimer {
  font-size: var(--answer-disclaimer-font, 12px);
  color: #a0a0a0;
}

.chat-input {
  display: flex;
  padding: 0.75rem;
  background-color: #ffffff;
  color: #242424;
  margin: 0.75rem;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  align-items: center;
  flex: 1;
}
.chat-input > span {
  border: none;
}

.input-field {
  flex: 1;
  margin-right: 10px;
  font-family: "segoe ui", sans-serif;
  font-size: 14px;
}

::placeholder {
  font-family: "segoe ui", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.send-button {
  padding: 0px;
  border: none;
  min-width: min-content;
  background-color: transparent;
}
.send-button > span > i {
  font-size: var(--send-button-font-size, 1.5rem);
}

.chart-image {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.chat-header {
  font-size: 1rem;
  font-weight: 600;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  gap: 3%;
  display: flex;
  justify-content: space-between;
  margin-inline: 2%;
}
.initial-msg {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  row-gap: 1rem;
  width: 73%;
  text-align: center;
  font-size: 1rem;
}

.initial-msg > span:first-of-type {
  color: #707070;
  font-weight: 500;
}

.initial-msg > span:nth-of-type(2) {
  color: #737373;
  font-weight: 400;
  font-size: 0.875em;
}

.typing-indicator {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #0078d4;
  border-radius: 50%;
  animation: bounce 1.2s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.loading-indicator {
  padding: 10px;
  background-color: #f3f2f1;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.chat-footer {
  display: flex;
  align-items: center;
}
.btn-create-conv {
  margin-left: 0.75rem !important;
  min-width: var(--create-conv-btn-min-width) !important;
}

.btn-create-conv svg {
  width: var(--btn-create-conv-svg, 2rem);
  height: var(--btn-create-conv-svg, 2rem);
}

.hide-chat-history {
  height: var(--button-height) !important;
  font-size: var(--header-btn-font-size) !important;
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .chat-header,
  .initial-msg,
  .chat-input {
    font-size: 0.8rem;
  }
  :root {
    --msg-block-font: 0.625rem;
    --answer-disclaimer-font: 0.75rem;
    --create-conv-btn-min-width: 1.3rem;
    --send-button-font-size: 1.1rem;
    --btn-create-conv-svg: 1.1rem;
    --text-area-font: 0.7rem;
  }
}

/* Extra Large screens (≥1200px) */
@media (min-width: 1200px) {
  .chat-header,
  .initial-msg,
  .chat-input {
    font-size: 0.9rem;
  }
  :root {
    --msg-block-font: 0.7rem;
    --answer-disclaimer-font: 0.6rem;
    --create-conv-btn-min-width: 1.5rem;
    --send-button-font-size: 1.3rem;
    --btn-create-conv-svg: 1.5rem;
    --text-area-font: 0.825rem;
  }
}

/* Extra Extra Large screens (≥1400px) */
@media (min-width: 1400px) {
  .chat-header,
  .initial-msg,
  .chat-input {
    font-size: 1.1rem;
  }
  .chat-input {
    padding: 0.75rem;
    margin: 0.75rem;
  }
  :root {
    --msg-block-font: 0.875rem;
    --answer-disclaimer-font: 0.75rem;
    --create-conv-btn-min-width: 2rem;
    --send-button-font-size: 1.5rem;
    --btn-create-conv-svg: 2rem;
    --text-area-font: 0.875rem;
  }
}

/* Very Extra Large screens (≥1600px) */
@media (min-width: 1600px) {
  .chat-header,
  .initial-msg,
  .chat-input {
    font-size: 1.2rem;
  }
  :root {
    --msg-block-font: 1rem;
    --answer-disclaimer-font: 0.75rem;
    --create-conv-btn-min-width: 2.2rem;
    --send-button-font-size: 1.7rem;
    --btn-create-conv-svg: 2.2rem;
    --text-area-font: 1rem;
  }
}
