header {
  color: var(--light-theme-rest-foreground-default-foreground-242424, #242424);
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px;
}

.chart-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  grid-auto-rows: auto;
  background-color: #f5f5f5;
  margin-bottom: 0.5rem;
}

.chart-item {
  background-color: white;
  padding: 0.7rem;
  border-radius: 8px;
}

.chart-title {
  color: #707070;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.percentage {
  font-size: 1.2rem;
  font-weight: 600;
}
#wordcloud {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topic-table td,
.topic-table th {
  padding: 0.5rem;
}

.text-area-container {
  display: flex;
  width: 100%;
  margin: 0.5rem;
  gap: 0.5rem;
}
/* Large screens (≥992px) */
@media (min-width: 992px) {
  .percentage {
    font-size: 0.6rem;
  }
  .chart-item {
    padding: 0.4rem;
  }
  .chart-title {
    margin-bottom: 0.1rem;
  }
  .donut-label,
  .topic-table {
    font-size: 0.6rem;
  }
  .topic-table td,
  .topic-table th {
    padding: 0.3rem;
  }
}

/* Extra Large screens (≥1200px) */
@media (min-width: 1200px) {
  .percentage {
    font-size: 0.9rem;
  }
  .chart-item {
    padding: 0.6rem;
  }
  .chart-title {
    margin-bottom: 0.2rem;
  }
  .donut-label,
  .topic-table {
    font-size: 0.7rem;
  }
  .topic-table td,
  .topic-table th {
    padding: 0.4rem;
  }
}

/* Extra Extra Large screens (≥1400px) */
@media (min-width: 1400px) {
  .percentage {
    font-size: 1.3rem;
  }
  .chart-item {
    padding: 0.7rem;
  }
  .chart-title {
    margin-bottom: 0.3rem;
  }
  .donut-label,
  .topic-table {
    font-size: 0.9rem;
  }
  .topic-table td,
  .topic-table th {
    padding: 0.5rem;
  }
}

/* Very Extra Large screens (≥1600px) */
@media (min-width: 1600px) {
  .percentage {
    font-size: 1.5rem;
  }
  .chart-item {
    padding: 0.9rem;
  }
  .chart-title {
    margin-bottom: 0.4rem;
  }
  .donut-label,
  .topic-table {
    font-size: 1.1rem;
  }
  .topic-table td,
  .topic-table th {
    padding: 0.6rem;
  }
}
