# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azurefunctions-extensions-http-fastapi==1.0.0b1
openai==1.57.0
semantic_kernel==1.0.4
pymssql==2.3.0
azure-search-documents==11.6.0b3
# httpx==0.27.2