{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "Microsoft.AspNetCore": "Trace"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "AppConfig": "{{ appconfig-url }}"
  }
}
  